# Data
*.json
*.parquet
RAW Data/
Data Collection.xlsx
Spotify Extended Streaming Histories
Volunteer Data
~$Data Collection.xlsx
!Models/*_best_params.json
Data Scripts/individual_audio_feature.py
Data Scripts/Project_Json2csv_indi.py
Data Scripts/Streaming_History_stats.py
Data Scripts/Volunteer_stats.py
adhoc_analysis.py



# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.conda/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
